{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Kernel.php"
        ]
    },
    "logs": {
        "text": ".infection-log.txt"
    }
}
